In [159]:
import pandas as pd

#### 1. Read the three files into python as dataframes

In [160]:
file1=pd.read_csv('lab-customer-analysis-round-1/files_for_lab/csv_files/file1.csv')

In [161]:
file2= pd.read_csv('lab-customer-analysis-round-1/files_for_lab/csv_files/file2.csv')

In [162]:
file3= pd.read_csv('lab-customer-analysis-round-1/files_for_lab/csv_files/file3.csv')

#### 2. Show the DataFrame's shape.

In [163]:
file1.shape

(4008, 11)

In [164]:
file2.shape

(996, 11)

In [165]:
file3.shape

(7070, 11)

#### 3. Standardize header names.
#### 4. Rearrange the columns in the dataframe as needed

In [166]:
file1.head()
file1.rename(columns={'ST': 'State','GENDER':'Gender'},inplace=True)
file1.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [167]:
file2.rename(columns={'ST':'State','GENDER':'Gender'},inplace=True)
file2[['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount']]

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,Personal Auto,Four-Door Car,633.600000
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,Special Auto,SUV,547.200000
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,Personal Auto,Two-Door Car,537.600000
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,Personal Auto,Luxury Car,1027.200000
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,Corporate Auto,Two-Door Car,451.200000
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,Personal Auto,Four-Door Car,185.667213
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,Corporate Auto,Four-Door Car,140.747286
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,Corporate Auto,Two-Door Car,471.050488
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,Personal Auto,Two-Door Car,28.460568
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,Personal Auto,SUV,700.349052

In [168]:
file3[['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount']]

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,SA25987,Washington,M,High School or Below,3479.137523,0,104,0,Personal Auto,Two-Door Car,499.200000
1,TB86706,Arizona,M,Master,2502.637401,0,66,0,Personal Auto,Two-Door Car,3.468912
2,ZL73902,Nevada,F,Bachelor,3265.156348,25820,82,0,Personal Auto,Four-Door Car,393.600000
3,KX23516,California,F,High School or Below,4455.843406,0,121,0,Personal Auto,SUV,699.615192
4,FN77294,California,M,High School or Below,7704.958480,30366,101,2,Personal Auto,SUV,484.800000
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.987980,71941,73,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604,79,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0,85,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941,96,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0,77,0,Corporate Auto,Two-Door Car,369.600000

#### 5. Concatenate the three dataframes

In [169]:
data= pd.concat((file1,file2,file3),axis=0)

In [170]:
data.shape

(12074, 11)

In [171]:
data.dtypes

Customer                      object
State                         object
Gender                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

#### 6.Which columns are numerical?

In [172]:
data._get_numeric_data()

       Income  Monthly Premium Auto  Total Claim Amount
0         0.0                1000.0            2.704934
1         0.0                  94.0         1131.464935
2     48767.0                 108.0          566.472247
3         0.0                 106.0          529.881344
4     36357.0                  68.0           17.269323
...       ...                   ...                 ...
7065  71941.0                  73.0          198.234764
7066  21604.0                  79.0          379.200000
7067      0.0                  85.0          790.784983
7068  21941.0                  96.0          691.200000
7069      0.0                  77.0          369.600000

[12074 rows x 3 columns]

#### 7.Which columns are categorical?

In [173]:
data.select_dtypes('category')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[12074 rows x 0 columns]

## Data Cleaning

#### 7. Delete the column education and the number of open complaints from the dataframe.

In [174]:
data.head()

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [175]:
data= data.drop(['Education','Number of Open Complaints'],axis= 1)

#### 8. Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type.

In [176]:
data.sample(60)

,Customer,State,Gender,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
1010,VC43751,Arizona,F,5860.02,38684.0,74.0,Personal Auto,Two-Door Car,376.760016
1982,SJ88799,Washington,M,3980.84,92539.0,101.0,Personal Auto,Four-Door Car,707.408058
6858,MR76405,California,F,9470.06,46530.0,80.0,Corporate Auto,Four-Door Car,118.556928
7037,CX22458,California,M,9075.77,37722.0,116.0,Personal Auto,Sports Car,158.077504
1337,MM45897,Nevada,M,2714.65,88545.0,68.0,Personal Auto,Four-Door Car,374.108319
1470,DX65548,Arizona,F,4834.71,38713.0,66.0,Personal Auto,Four-Door Car,316.800000
2166,VE51810,Arizona,M,5813.24,42795.0,73.0,Personal Auto,Four-Door Car,350.400000
3478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5547,AP47670,California,M,2497.91,29465.0,63.0,Personal Auto,Four-Door Car,302.400000
3929,BV57364,Arizona,M,8092.88,50825.0,102.0,Personal Auto,SUV,369.614729
758,JP69864,Washington,F,224844.96%,24910.0,63.0,Personal Auto,Four-Door Car,347.857619
2008,SI58884,California,M,3985.32,17220.0,105.0,Personal Auto,SUV,504.000000
5139,RQ41621,Arizona,F,2862.73,64640.0,73.0,Personal Auto,Four-Door Car,327.912134
2142,SC70396,Oregon,M,3498.77,58484.0,88.0,Personal Auto,Two-Door Car,43.542559
3231,HG81101,Washington,F,2911.92,20327.0,74.0,Personal Auto,Four-Door Car,824.254866
3849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6516,EP64069,California,F,5138.24,72264.0,64.0,Corporate Auto,Four-Door Car,272.649844
916,UX32931,California,F,5184.95,49312.0,65.0,Corporate Auto,Four-Door Car,230.104769
3919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5038,WO25669,Oregon,F,35692.2,0.0,102.0,Personal Auto,SUV,1123.212014
514,RM41745,California,F,827878.65%,0.0,110.0,Personal Auto,Four-Door Car,1002.782553
6353,SR26762,California,F,7663.51,34837.0,63.0,Personal Auto,Four-Door Car,72.828431
981,HR64684,Oregon,M,868982.25%,0.0,99.0,Personal Auto,Four-Door Car,475.200000
224,ZW32080,Nevada,F,2914.96,37803.0,74.0,Personal Auto,Four-Door Car,355.200000
260,FD64348,Oregon,M,2256361.84%,23046.0,65.0,Personal Auto,Two-Door Car,1.687291
346,MS94619,California,F,5111.3,76448.0,63.0,Personal Auto,Four-Door Car,302.400000
5072,QE21030,Washington,M,15483.5,24661.0,196.0,Personal Auto,Luxury SUV,1961.162049
2648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649,OD21455,California,M,4481.39,0.0,69.0,Personal Auto,Four-Door Car,232.183503
331,WU60905,California,F,861066.75%,0.0,111.0,Corporate Auto,SUV,532.800000
3204,PH83205,Oregon,M,2810.46,26790.0,71.0,Corporate Auto,Two-Door Car,340.800000
5069,ZX50209,California,F,10960.9,29815.0,95.0,Personal Auto,Four-Door Car,76.175672
551,XS78545,Oregon,F,7347.41,29491.0,61.0,Personal Auto,Four-Door Car,292.800000
1889,UW68708,California,F,5009.6,0.0,69.0,Personal Auto,Four-Door Car,496.800000
63,QN62502,Oregon,F,383914.37%,70146.0,96.0,Personal Auto,Four-Door Car,157.440069
2404,BR39076,California,F,7633.82,0.0,67.0,Personal Auto,Four-Door Car,445.702958
6967,SM10031,California,M,2933.5,0.0,78.0,Personal Auto,Four-Door Car,398.421636
2111,IH62666,California,F,7356.38,33089.0,61.0,Personal Auto,Four-Door Car,292.800000
1934,EY86980,Oregon,M,6222.21,74270.0,78.0,Corporate Auto,Two-Door Car,122.486486
4249,AU71562,Washington,F,2936.73,27179.0,74.0,Personal Auto,Four-Door Car,355.200000
1225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5105,QW88350,Washington,F,7618.44,41900.0,63.0,Corporate Auto,Four-Door Car,170.496071
37,JC33752,Oregon,F,6277.84,21024.0,82.0,Personal Auto,Two-Door Car,450.129276
419,VH31965,Washington,Male,528511.87%,40783.0,67.0,Personal Auto,Four-Door Car,321.600000
4950,II27516,California,M,6366.23,44368.0,80.0,Personal Auto,Two-Door Car,384.000000
5907,QP76867,Oregon,M,16152.9,0.0,109.0,Personal Auto,Sports Car,852.460341
332,LT32391,California,F,1198198.48%,21514.0,62.0,Personal Auto,Two-Door Car,257.248789
1496,JE98863,Arizona,F,3910.7,58713.0,98.0,Special Auto,Four-Door Car,470.400000
2745,GE80842,Oregon,F,15506.9,99159.0,190.0,Personal Auto,Luxury SUV,912.000000
2459,ZE42703,Nevada,M,4863.47,52728.0,127.0,Corporate Auto,SUV,609.600000
5592,ME37051,California,M,7340.5,50165.0,62.0,Personal Auto,Two-Door Car,129.999138
887,BY88757,California,M,518246.23%,0.0,135.0,Personal Auto,SUV,939.528475
1614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,UK76814,Oregon,F,533938.84%,84424.0,66.0,Personal Auto,Four-Door Car,231.537001
494,ZG94155,Oregon,M,623430.59%,0.0,82.0,Personal Auto,Two-Door Car,192.760400
4186,EB52195,Oregon,F,7981.44,40639.0,67.0,Personal Auto,Four-Door Car,301.602520
652,UV48189,California,M,8476.08,28181.0,109.0,Personal Auto,SUV,523.200000
6383,GU91528,Oregon,F,4254.62,11904.0,61.0,Personal Auto,Two-Door Car,292.800000
3587,HF67477,Washington,M,15096.3,14909.0,199.0,Personal Auto,Luxury Car,1238.077611
1084,SG96896,Oregon,M,14703.1,0.0,71.0,Personal Auto,Four-Door Car,819.576016

#### 9. Check for duplicate rows in the data and remove if any.

In [186]:
data1= data.drop_duplicates()
data1.shape

(9135, 9)

#### 10. Filter out the data for customers who have an income of 0 or less.

In [188]:
data2= data1[(data1['Income']== 0) | (data1['Income']<0)]

In [194]:
data2.shape

(2294, 9)